<ion-header>
  <ion-toolbar>
    <ion-title>Search Artworks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [formControl]="searchControl" placeholder="Search for artworks">
    </ion-input>
    <ion-button (click)="searchArtworks()">Search</ion-button>
  </ion-item>

  @if (results.length > 0) {
  <ion-list>
    @for (art of results; track art) {
    @if (art.primaryImageSmall && art.primaryImageSmall.trim() !== '') {
    <ion-card class="artwork-card">
      <img [src]="art.primaryImageSmall" />
      <ion-card-header>
        <ion-card-title>{{ art.title }}</ion-card-title>
        <ion-card-subtitle>{{ art.artistDisplayName }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="card-actions">
          <ion-button class="ion-float-right" fill="clear" (click)="likeArtwork(art, $event)">
            <ion-icon slot="icon-only" [name]="likedSet.has(art.objectID) ? 'heart' : 'heart-outline'" color="danger"
              size="large">
            </ion-icon>
            <span class="like-count">{{ likesMap[art.objectID] || 0 }}</span>
          </ion-button>
          <ion-button expand="block" fill="solid" color="tertiary" (click)="goToDetails(art.objectID)">
            Details
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    }
    }
  </ion-list>
  }

  @if (results.length === 0 && searched) {
  <div>No results found.</div>
  }
</ion-content>